<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <servlet>
        <servlet-name>joy-servlet</servlet-name>
        <servlet-class>MyHttpServlet</servlet-class>
        <init-param>
            <param-name>test1</param-name>
            <param-value>test1</param-value>
        </init-param>
        <init-param>
            <param-name>test2</param-name>
            <param-value>test2</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>demo03</servlet-name>
        <servlet-class>Demo03</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadDemo</servlet-name>
        <servlet-class>DownloadDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refreshDemo</servlet-name>
        <servlet-class>RefreshDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pictureDemo</servlet-name>
        <servlet-class>PictureDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compressDemo</servlet-name>
        <servlet-class>CompressDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirectDemo</servlet-name>
        <servlet-class>RedirectDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linkResource</servlet-name>
        <servlet-class>LinkResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestPostData</servlet-name>
        <servlet-class>RequestPostData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestDispatcherDemo</servlet-name>
        <servlet-class>RequestDispatcherDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestDispatcherDemo2</servlet-name>
        <servlet-class>RequestDispatcherDemo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookieDemo</servlet-name>
        <servlet-class>CookieDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>sessionDemo</servlet-name>
        <servlet-class>SessionDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>sessionDemo2</servlet-name>
        <servlet-class>SessionDemo2</servlet-class>
    </servlet>




    <context-param>
        <param-name>globalName</param-name>
        <param-value>joytest</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>joy-servlet</servlet-name>
        <url-pattern>/MyHttpServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>joy-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo03</servlet-name>
        <url-pattern>/demo03</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadDemo</servlet-name>
        <url-pattern>/downloadDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refreshDemo</servlet-name>
        <url-pattern>/refreshDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pictureDemo</servlet-name>
        <url-pattern>/pictureDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compressDemo</servlet-name>
        <url-pattern>/compressDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linkResource</servlet-name>
        <url-pattern>/linkResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestPostData</servlet-name>
        <url-pattern>/requestPostData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestDispatcherDemo</servlet-name>
        <url-pattern>/requestDispatcherDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestDispatcherDemo2</servlet-name>
        <url-pattern>/requestDispatcherDemo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookieDemo</servlet-name>
        <url-pattern>/cookieDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionDemo</servlet-name>
        <url-pattern>/sessionDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionDemo2</servlet-name>
        <url-pattern>/sessionDemo2</url-pattern>
    </servlet-mapping>
</web-app>
